<h1>Demande de remboursement pour <strong><%= @subvention.name %></strong></h1>
<br>
<br>

<%= simple_form_for [@subvention, @subvention_request] do |f| %>
  <% if @subvention_request.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @subvention_request.errors.messages.each do |message| %>
            <li><%= message[1][0] %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-3">
        <%= f.label :email, "Votre email" %>
      </div>
      <div class="col-xs-4">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-5">
        <%= f.label :amount_asked, "Montant du remboursement (max. autorisé: #{@subvention.amount / 100}€)" %>
      </div>
      <div class="col-xs-4">
        <%= f.text_field :amount_asked, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-5">
        <%= f.label :justif_path, "Joindre un justificatif" %>
      </div>
      <div class="col-xs-2">
        <%= f.input :justif_path, class: 'form-control', label: false %>
        <%= f.input :justif_path_cache, as: :hidden %>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-4">
      <%= f.submit class: 'btn btn-primary', value:"Envoyer la demande de remboursement" %>
    </div>
  </div>
<% end %>
